* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 8%);
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 12%);
  place-self: center;
  display: flex;
  flex-direction: column;
}
